.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
 
 .navright{
    list-style-type: none;
    margin: 0;
    padding: 7.5px;
    padding-top: 15px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 13px;
    opacity: 75%;
    color: black;
}
.navright :hover{
    text-decoration: underline;
}

.apps-acc{
    display: flex;
    flex-wrap: wrap;
}

.apps{
   padding-top: 13px;
   padding-left: 7.5px;
}
.apps :hover{
    border-radius: 100%;
    
    background-color: rgb(206, 206, 206);
}

.acc{
    padding-top: 7.5px;
    padding-left: 13px;
    padding-right: 13px;
}


#acc{
    border-radius: 100%;

}

.search{
    display: flex;
    justify-content: center;
    padding-top: 150px;
}